@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

button:hover{
    cursor: pointer;
}

.main-container{
    display: flex;
    gap: 15px;
}

.project-card{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

.project-card__title{
    position: relative;
}

.new-project-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}