@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  /* border: 0px red solid; */
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0;
}

:root {
  --body-bg: #cbd5e1;
  --account-bg: #f8fafc;
  --outline: #0a0a0a;
  --project-bg: #f8fafc;
  --task-editor-bg: #f8fafc;
  --task-editor__input-boder: #d4d4d4;
  --input-bottomline: #0a0a0a;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
}

button:hover {
  cursor: pointer;
  filter: brightness(85%);
}

button:active {
  scale: 0.98;
}

.header-account,
.project-card,
.add-project-card__button,
#task-editor__form,
.save-task__button {
  border: 1px solid var(--outline);
  box-shadow: 2px 2px;
}

.header {
  width: fit-content;
  display: flex;
}

.header-account {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  margin: 10px 20px;
  padding: 10px 15px;

  background-color: var(--account-bg);
}

.main-container {
  padding: 20px 40px;
  display: flex;
  gap: 15px;
}

.add-project-card__button{
    border-radius: 10px;
    padding: 20px;
    background-color: var(--project-bg);
    filter: brightness(0.9);
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;

  padding: 20px;
  border-radius: 10px;
  background-color: var(--project-bg);
}

.project-card__header {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.project-card__title {
  border: none;
  outline: none;
  font-weight: 700;
  border-bottom: 1px solid var(--input-bottomline);
  background-color: var(--project-bg);
}

.project-card__delete-button {
  background-color: var(--project-bg);
  border: none;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#task-editor {
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;

  backdrop-filter: brightness(60%);
}

#task-editor__form {
  height: fit-content;
  width: 40%;
  min-width: 330px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

  border-radius: 10px;
  background-color: var(--task-editor-bg);
}

#task-editor__form input {
  padding: 5px;
}

#task-editor__form textarea {
  height: 200px;
  width: 100%;
  resize: none;
  overflow-y: auto;
}

.task-editor__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.task-editor__title {
  border: none;
  border-bottom: 1px solid var(--input-bottomline);
  background-color: var(--task-editor-bg);
  font-weight: 600;
}

.task-editor__other-detail {
  display: flex;
  justify-content: space-between;
}

.is-important__container {
  display: flex;
  align-items: start;
  gap: 5px;
}

.is-important {
  width: 16px;
  aspect-ratio: 1;
}

.save-task__button {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--task-editor-bg);
}

.task-card{
    display: flex;
    border: 1px solid var(--outline);
}

.task-card button{
    border: none;
    background-color: var(--project-bg);

}
.task-card__button{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task-card__due{
    font-size: 0.8rem;
}