@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

button:hover{
    cursor: pointer;
}

.main-container{
    display: flex;
    gap: 15px;
}

.project-card{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}